<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/certificate.css" rel="stylesheet">
        <title>Predict Route</title>
    </head>
    <body>
        <div class="header">
            <h1>Best route from NTU dormitory to Taipei Main Station</h1>
        </div>
        <div class="container">
            <div class="section" id="hidden">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input name="name" placeholder="Name" type="text">
                    <input name="month" placeholder="Month" type="number" min="1" max="12">
                    <input name="day" placeholder="Day" type="number" min="1" max="31">
                    <input type="submit" value="Add Birthday">
                </form>
            </div>

            <!-- <div id="cert_title"><p>Best route from dormitory to Taipei Main Station</p></div> -->

            <form action="/route" method="post">
                <div class="cert_flex-container">
                    <div class="cert_flex-item"><p>Query Route</p>
                        <select name="s2s_route" id="s2s-select">
                            <option value="G07_G10">公館 - 中正紀念堂</option>
                            <option value="R08_R10">中正紀念堂 - 台北車站</option>
                            <option value="G07_R10" selected>公館 - 中正紀念堂 - 台北車站</option>
                        </select>
                    </div>
                    <div class="cert_flex-item"><p>Departure date</p><input name="departure_date_from_dormitory" placeholder="YYYY-MM-DD" type="text" value="2025-01-12"></div>
                    <div class="cert_flex-item"><p>Departure time</p><input name="departure_time_from_dormitory" placeholder="HH:MM" type="text" value="13:20"></div>
                    <div class="cert_flex-item"><p>Walking time (min)</p><input name="walking_time" type="number" min="0" value="10"></div>
                    <div class="cert_flex-item"><p>Transfer time (min)</p><input name="transfer_time" type="number" min="0" value="0"></div> 
                </div>

                <div id="submit_btn">
                    <input type="submit" value="Predict a route">
                </div>
            </form>

            <!-- <form action="/history" method="post">
                <div id="submit_btn">
                    <input type="submit" value="Record a route">
                </div>
            </form> -->
    
            <div class="section">

                <h2>Predict Route History</h2>
                <table>
                    <thead>
                        <tr>
                            <th>From (STA)</th>
                            <th>To (STA)</th>
                            <th>Departure time</th>
                            <th>Arrival time</th>
                            <th>Travel time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for route in history %}
                        <tr>
                            <td>{{ route.sta_src }}</td>
                            <td>{{ route.sta_dst }}</td>
                            <td>{{ route.departure_time }}</td>
                            <td>{{ route.arrival_time }}</td>
                            <td>{{ route.travel_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
